# Compilados Java
*.class

# Diretórios de compilação do Gradle
.gradle/
build/

# Arquivos e pastas do Maven (caso use Maven também)
target/

# Arquivos de log
*.log

# Configurações de sistema e IDE
*.iml
.idea/
.vscode/
*.ipr
*.iws

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Spring Boot: Arquivos de cache e dados temporários
spring.log

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar

# Outras pastas de build (se aplicável)
out/
